acropolis/config/n8n/workflows/ci-fixer.json
{
  "id": "ci-fixer-daily",
  "name": "Parthenon CI Fixer (Daily 5am)",
  "description": null,
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 5am ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:9877/status",
        "options": {
          "timeout": 15000
        }
      },
      "id": "check-ci-status",
      "name": "Check CI Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-failure",
              "leftValue": "={{ $json.conclusion }}",
              "rightValue": "failure",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-failing",
      "name": "CI Failing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:9877/fix-ci",
        "options": {
          "timeout": 900000
        }
      },
      "id": "run-fixer",
      "name": "Run CI Fixer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-fixed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "fixed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-fixed",
      "name": "Was Fixed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:9877/status",
        "options": {
          "timeout": 15000
        }
      },
      "id": "verify-ci",
      "name": "Verify New CI Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        100
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result",
              "name": "result",
              "value": "={{ \"CI fix attempted: \" + $json.status }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "fix-failed",
      "name": "Fix Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        320
      ]
    },
    {
      "parameters": {},
      "id": "skip-note",
      "name": "CI Green - Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        900,
        420
      ]
    }
  ],
  "connections": {
    "Daily 5am ET": {
      "main": [
        [
          {
            "node": "Check CI Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check CI Status": {
      "main": [
        [
          {
            "node": "CI Failing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CI Failing?": {
      "main": [
        [
          {
            "node": "Run CI Fixer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CI Green - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run CI Fixer": {
      "main": [
        [
          {
            "node": "Was Fixed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was Fixed?": {
      "main": [
        [
          {
            "node": "Verify New CI Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fix Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
